//================================================================================
.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: rem(100);
	padding: 0 rem(50);
	@media (any-hover: hover) {
		&:hover {
		}
	}
}
.logo {
	// .logo__content
	&__content {
		font-size: rem(30);
		line-height: math.div(35, 30);
		text-transform: uppercase;
		font-weight: 700;
	}
}

//================================================================================
