//================================================================================
.hero {
	position: relative;
	display: flex;
	background: linear-gradient(100.72deg, #122e99 -12.83%, #2370c8 104.22%);
	// .hero__container
	&__container {
		display: flex;
		align-items: center;
		flex: 1 1 auto;
	}
	// .hero__body
	&__body {
		z-index: 5;
		position: relative;
		color: #fff;
		padding: rem(90) 0;
	}
	// .hero__title
	&__title {
		max-width: rem(465);
		font-weight: 500;
		@include adaptiveValue("font-size", 72, 48);
		line-height: math.div(85, 72);
		margin-bottom: em(26, 72);
	}
	// .hero__text
	&__text {
		max-width: rem(422);
		line-height: math.div(27, 16);
		margin-bottom: em(40, 16);
	}
	// .hero__button
	&__button {
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
	// .hero__shape
	&__shape {
		position: absolute;
		&:nth-child(1) {
			opacity: 0.3;
			top: percent(272, 790);
			left: percent(25, 1920);
		}
		&:nth-child(2) {
			opacity: 0.1;
			top: percent(515, 790);
			left: percent(35, 1920);
		}
		&:nth-child(3) {
			opacity: 0.08;
			top: percent(298, 790);
			left: percent(50, 1920);
		}
		&:nth-child(4) {
			opacity: 0.3;
			top: percent(738, 790);
			left: percent(87, 1920);
		}
		&:nth-child(5) {
			opacity: 0.3;
			top: percent(424, 790);
			left: percent(138, 1920);
		}
		&:nth-child(6) {
			opacity: 0.15;
			top: percent(239, 790);
			left: percent(148, 1920);
		}
		&:nth-child(7) {
			opacity: 0.3;
			top: percent(303, 790);
			left: percent(237, 1920);
		}
		&:nth-child(8) {
			opacity: 0.3;
			top: percent(186, 790);
			left: percent(242, 1920);
		}
		&:nth-child(9) {
			opacity: 0.3;
			top: percent(598, 790);
			left: percent(349, 1920);
		}
		&:nth-child(10) {
			opacity: 0.08;
			top: percent(244, 790);
			left: percent(354, 1920);
		}
		&:nth-child(11) {
			opacity: 0.08;
			top: percent(728, 790);
			left: percent(423, 1920);
		}
		&:nth-child(12) {
			opacity: 0.1;
			top: percent(520, 790);
			left: percent(494, 1920);
		}
		&:nth-child(13) {
			opacity: 0.1;
			top: percent(138, 790);
			left: percent(548, 1920);
		}
		&:nth-child(14) {
			opacity: 0.3;
			top: percent(630, 790);
			left: percent(598, 1920);
		}
		&:nth-child(15) {
			top: percent(570, 790);
			left: percent(795, 1920);
		}
		&:nth-child(16) {
			opacity: 0.3;
			top: percent(225, 790);
			left: percent(800, 1920);
		}
		&:nth-child(17) {
			opacity: 0.1;
			top: percent(396, 790);
			left: percent(866, 1920);
		}
		&:nth-child(18) {
			opacity: 0.08;
			top: percent(674, 790);
			left: percent(908, 1920);
		}
		&:nth-child(19) {
			opacity: 0.05;
			top: percent(133, 790);
			left: percent(923, 1920);
		}
		&:nth-child(20) {
			top: percent(377, 790);
			left: percent(923, 1920);
		}
		&:nth-child(21) {
			top: percent(684, 790);
			left: percent(1038, 1920);
		}
		&:nth-child(22) {
			top: percent(133, 790);
			left: percent(1059, 1920);
		}
		&:nth-child(23) {
			opacity: 0.3;
			top: percent(143, 790);
			left: percent(1436, 1920);
		}
		&:nth-child(24) {
			opacity: 0.3;
			top: percent(480, 790);
			left: percent(1592, 1920);
		}
		&:nth-child(25) {
			top: percent(691, 790);
			left: percent(1626, 1920);
		}
		&:nth-child(26) {
			top: percent(528, 790);
			left: percent(1634, 1920);
		}
		&:nth-child(27) {
			opacity: 0.1;
			top: percent(552, 790);
			left: percent(1714, 1920);
		}
		&:nth-child(28) {
			top: percent(107, 790);
			left: percent(1714, 1920);
		}
		&:nth-child(29) {
			opacity: 0.3;
			top: percent(285, 790);
			left: percent(1742, 1920);
		}
		&:nth-child(30) {
			opacity: 0.2;
			top: percent(559, 790);
			left: percent(1804, 1920);
		}
		&:nth-child(31) {
			top: percent(685, 790);
			left: percent(1813, 1920);
		}
		&:nth-child(32) {
			opacity: 0.5;
			top: percent(193, 790);
			left: percent(1814, 1920);
		}
		&:nth-child(33) {
			opacity: 0.8;
			top: percent(445, 790);
			left: percent(1823, 1920);
		}
		&:nth-child(34) {
			opacity: 0.3;
			top: percent(71, 790);
			left: percent(1833, 1920);
		}
	}
	// .hero__shape--circle
	&__shape--circle {
		width: rem(10);
		height: rem(10);
		border-radius: 50%;
		background-color: #fff;
	}
	// .hero__shape--line
	&__shape--line {
		width: rem(24);
		height: rem(1);
		background-color: #c7c7c7;
	}
	// .hero__shape--square
	&__shape--square {
		width: rem(20);
		height: rem(20);
		border: rem(1) solid #e1e1e1;
	}
}
//================================================================================
.services {
	// .services__heading
	&__heading {
		@media (min-width: em(1100)) {
			margin-bottom: 0;
			transform: translate(0, 50%);
		}
		@include adaptiveValue("margin-bottom", 100, 30);
	}
}
.slider-services {
	// .slider-services__body
	&__body {
		padding-bottom: rem(70);
	}
	// .slider-services__arrows
	&__arrows {
		display: flex;
		justify-content: flex-end;
		@include adaptiveValue("margin-bottom", 80, 30);
		@media (max-width: em(1100)) {
			position: absolute;
			width: 100%;
			bottom: 0;
			margin-bottom: 0;
			justify-content: center;
		}
	}
	// .slider-services__arrow
	&__arrow {
		&:not(:last-child) {
			margin-right: rem(30);
		}
	}
}
.swiper-slide {
	position: relative;
	text-align: center;
	@include adaptiveValue("padding", 38, 15);
	background-color: #e5f3fe;
	border: rem(3) solid #cfeaff;
	transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s;
	@media (any-hover: hover) {
		&:hover {
			background-color: #fff;
			border-color: $blueColor;
			box-shadow: 0px 4px 12px 0px #d2ebff;
			.swiper-slide__button {
				opacity: 1;
				visibility: visible;
				transition-delay: 0s;
			}
			.swiper-slide__text {
				padding-bottom: rem(30);
			}
		}
	}
	// .swiper-slide__img
	&__img {
		width: rem(80);
		height: rem(80);
		margin: 0 auto;
		border-radius: 50%;
		background-color: #d1ebff;
		margin-bottom: rem(28);
	}
	// .swiper-slide__title
	&__title {
		color: $mainColor;
		font-weight: 500;
		font-size: rem(20);
		line-height: math.div(23, 20);
		margin-bottom: em(14, 20);
	}
	// .swiper-slide__text
	&__text {
		transition: padding-bottom 0.3s;
		padding-bottom: rem(47);
	}
	// .swiper-slide__button
	&__button {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 50%);
		width: rem(43);
		height: rem(43);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		background-color: $blueColor;
		border-radius: 50%;
		transition: visibility 0s 0.3s, opacity 0.3s;
		&::before {
			content: "";
			display: block;
			width: rem(12);
			height: rem(12);
			background-color: #fff;
			mask-image: url("@img/icons/icons.svg#arrow-right-primary");
			transition: background-color 0.3s, transform 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: translate(25%, 0);
				}
			}
		}
	}
}
//================================================================================
.about {
	// .about__container
	&__container {
		@media (min-width: $mobile) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	// .about__img
	&__img {
		padding-bottom: percent(414, 767);
		background-color: #e7e7e7;
		margin: 0 rem(-15) rem(30) rem(-15);
		@media (min-width: $mobile) {
			margin: 0;
			min-height: rem(514);
			padding-bottom: 0;
			flex: 0 0 percent(587, 1350);
			@include adaptiveValue("margin-right", 128, 0);
		}
	}
	// .about__heading
	&__heading {
		text-align: left;
		margin-bottom: rem(32);
	}
	// .about__text
	&__text {
		margin-bottom: rem(36);
		p {
			&:not(:last-child) {
				margin-bottom: rem(32);
			}
		}
	}
}
//================================================================================
.advantages {
	background-color: $blueLightColor;
	// .advantages__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-around;
		border-radius: rem(5);
		padding-top: rem(42);
		padding-bottom: rem(42);
		flex-wrap: wrap;
		@media (min-width: $mobileSmall) {
			border: rem(5) solid #fff;
		}
	}
	// .advantages__item
	&__item {
		max-width: rem(288);
		text-align: center;
		padding: rem(20);
	}
	// .advantages__icon
	&__icon {
		width: rem(80);
		height: rem(80);
		margin: 0 auto rem(22) auto;
		border-radius: 50%;
		background-color: #e7e7e7;
	}
	// .advantages__title
	&__title {
		font-weight: 500;
		color: $mainColor;
		font-size: rem(20);
		line-height: math.div(23, 20);
		margin-bottom: em(9, 20);
	}
}
//================================================================================
